h3{
  color: white;
}

.date-box{
  font-size: 2rem;
  padding: 20px;
  background-color: #FE8A40;
  border: 3px solid white;
}

h4{
  color: #3e3e3e;
}

ul li{
  padding-bottom: 20px;
}
.result{
  color: white;
}

button.btn-default{
  background-color: #FE8A40;
  color: white;
  border: 2px solid white;
}

button.btn-default:hover{
  background-color: white;
  color: #FE8A40;
  box-shadow: none;
}
