<div class="col-lg-4 uppercase-box">
  <h3>upper/lowercase | pipe</h3>
  <hr>
  <ul>
    <li>
      <h4>Name before uppercase pipe:</h4>
      <h4 class="result">{{name}}</h4>
    </li>
    <li>
      <h4>Name with uppercase pipe:</h4>
      <h4 class="result">{{name | uppercase}}</h4>
    </li>
    <li>
      <h4>Name before lowercase pipe:</h4>
      <h4 class="result">{{nameUpper}}</h4>
    </li>
    <li>
      <h4>Name with lowerce pipe:</h4>
      <h4 class="result">{{nameUpper | lowercase}}</h4>
    </li>
  </ul>
</div>

