h3{
  color: white;
}
h4{
  color: #3e3e3e;
}

.currency-box{
  font-size: 2rem;
  padding: 20px;
  background-color: #D8D9B6;
  border: 3px solid white;
}

ul li{
  padding-bottom: 20px;
}
.result{
  color: white;
}
